{
	"api_host": "localhost",
	"api_port": 5000,
	"servers": [
		{
			"name": "server1",
			"host": "10.0.0.11",
			"port": 623,
			"username": "user",
			"password": "pass"
		},
		{
			"name": "server2",
			"host": "10.0.0.12",
			"port": 623,
			"username": "user",
			"password": "pass"
		},
		{
			"name": "server3",
			"host": "10.0.0.13",
			"port": 623,
			"username": "user",
			"password": "pass"
		}
	]
}
